extends row_detail_wrapper

block data

  table.light
    tr
      each data,key in values[0]
        th= key
    
    - var i = 0 
    while i < rows_show
      tr
        each data,key in values[i]
          if data==null 
            td.null null
          else 
            include inc/row_detail_value.pug
      - i++
