extends page

block title
  | History of previous SQL

block content
  if values.length
    table.light
      tr
        each v,k in values[0]
          if k != 'id'
            th= k

      each row, i in values
        tr
          each v,k in values[0]
            if k != 'id'
              td.data
                if k == 'sql'
                  a(href="/:sql/#{row.id}")= row[k]
                else 
                  = row[k]
  else
    p History is empty
