body {
    margin: 0;
}

#topnav {
    background: #eee;
    padding: 1ex;
    text-align: right;
    font-size: 90%;
    border-bottom: 1px solid #ccc;
}

#topnav a {
    text-decoration: none;
}

#content {
    margin: 2em;
}

#footer {
    margin-top: 6em;
    background: #eee;
    padding: 2em;
    text-align: center;
    color: #999;
    clear: both;
}

#footer a {
    color: #999;
}

h1,h2,h3 { font-weight: normal; }


table.light {
    border: 1px solid #ccc;
    border-collapse: collapse;
    min-width: 700px;
    margin-top: 20px;
}

table.light tr th {
    border: 1px solid #ccc;
    padding: 4px;
    color: #999;
    font-weight: normal;
    text-align: left;
}

table.light tr td {
    border: 1px solid #ccc;
    padding: 4px;
}

table.details td{
    padding: 0px 20px 5px 0px;
}

td.null {
    color: #999;
}

td.pk {
    font-weight: bold;
}

#sqlname {
    min-width: 460px;
}

#loginform {
    margin: 20% 0 20% 0;
}

#loginform table {
    font-size: 120%;
}

#loginform input {
    font-size: 120%;
}

#loginform input.button,
#loginform button[type='submit'] {
    padding: 8px 4ex;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #eee;
    font-size: 110%;
}


TABLE#indexes {
    margin-left: 20px;
}

TABLE#fkeytable {
    margin-left: 20px;
}

TABLE#referenced {
    margin-left: 20px;
}

TABLE#triggerstable {
    margin-left: 20px;
}

TABLE#statusT {
    margin-left: 20px;
}

#rowsCounter {
    margin-top: 20px;
}

#index {
    margin-top: 20px;
}

#fkey {
    margin-top: 20px;
}

#ref {
    margin-top: 20px;
}

#triggers {
    margin-top: 20px;
}

#status {
    margin-top: 20px;
}

#columnCounter {
    margin-top: 20px;
}

#titleBlok {
    margin: 0px 0px 20px 0px;
}

#groupName {
    margin-top: 20px;
    padding-bottom:10px;
}

#history {
    margin-top: 20px;
}

.type {
    margin-top: 20px;
    padding-bottom:10px;
}

.data {
    padding: 0px 15px 0px;
}

.paddingText {
    padding: 0px 0px 0px 10px;
}

.error {
    color: DD0000;
}

.title {
   font-size: 30px;
}

.breadcrumbs {
    margin-left: 2em;
}

div.name {
    margin-top: 40px;
}

div.sqlText {
    margin-top: 10px;
}

div.submit {
    margin-top: 10px;
}

input[name='name'] {
    width: 270px;
    margin-right: 10px;
}

textarea[name='sql'] {
    width: 540px;
    height: 220px;
}

textarea[name='comment'] {
    width: 540px;
    height: 60px;
}

#comment {
    margin: 10px 0px 10px 0px;
}

#remove {
    margin-left: 310px;
}

#save {
    margin-left: 20px;
}

.sql {
    margin: 0px 0px 20px 0px;
}

