<!-- this template is not used anymore; see views/column_values_grouped.pug -->

<%! parent { title: 'Values:' } %>

<table class='light'>
    <tr>
        <% for (var key in columnData[0]) {
            if (key != 'parse' && key != '_typeCast') {%>
                <th><%=key%></th>
            <% }
        } %>
    </tr>

    <% for (var i = 0; i < columnData.length; i++) { %>
    <tr>
        <% for (var key in columnData[0]) {
            if (key != 'parse' && key != '_typeCast') {%>
                <td class = 'data'><%=columnData[i][key]%></td>
            <% }
        } %>
    </tr>
    <% } %>
</table>

<div id = 'columnCounter'><a><%=columnData.length%> rows</a>
    · <a href='?limit=<%= nextlimit %>'>show more</a>
</div>
