<%! parent { title: 'Databases', breadcrumbs_path: "" } %>

<table class='light'>
    <tr>
        <th>id</th>
        <th>db name and host</th>
        <th>details</th>
        <th>type</th>
        <th>schema</th>
    </tr>

    <% for (var key in databaseList) { var d = databaseList[key]; %>
    <tr>
        <td><%= key %></td>
        <td><a href='<%= key %>'><%= d.database %></a> at <%= d.host %></td>
        <td>user: <%= d.user
            %><% if (d.table_groups) { %>, grouped<% }%> </td>
        <td><%= d.type %></td>
        <td><% if (d.type=='postgres') { %><a href='<%= key %>/.schema'>full schema</a><% } %></td>
    </tr>
    <% } %>
</table>

<h2>Add-ons</h2>

<% for(var key in addons) { %>
    <li><a href='/ao/<%=key%>/'><%=key%></a></li>
<% } %>	

<div id="history"><a href="/:sql" >History of previous SQL</a></div>

