<!-- this template is not used anymore; see views/login.pug -->

<%! parent { title: 'login' } %>

<form method="post" action='/login' id="loginform">
    <input type='hidden' name='to' value='<%= req.url %>' >
    <div align="center">
        <p><%=errormsg%></p>
        <table>
            <tr>
                <td><label for="user">User: </label></td>
                <td><input type="text" name="user"></td>
            </tr>
            <tr>
                <td><label for="pass">Password: </label></td>
                <td><input type="password" name="pass"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <!-- <input class='button' type="submit" value="Login" /> -->
                    <button type='submit'>Login</button>
                </td>
            </tr>
        </table>
    </div>
</form>
