<%! parent { title: 'Result' } %>

<table class='light'>
    <% for (var key in values[0]) {
        // skip the parse and _typeCast columns
        if (key == 'parse' || key == '_typeCast') { continue; }
        %>
            <tr>
                <th><%=key%></th>
                <%
                for (var i = 0; i < Math.min(values.length, limit); i++) {
                    if (key == 'parse' || key == '_typeCast') { continue; }

                    var _class = '';
                    var value = values[i][key];
                    if (values[i][key] == null ) {
                        _class = ' null';
                    }

                    %><td class='data<%= _class %>'><%= value %></td><%

                } %>
            </tr>
        <%
    } %>
</table>

<div id='columnCounter'><a><%= values.length %> rows</a></div>