<%! parent { title: 'Result' } %>

<table class='light'>
    <tr>
    <%  for (var key in values[0]) {
            if (key == 'parse' || key == '_typeCast') { continue; } 
            %>
            <th><%= key %></th>
            <% 
        } %>
    </tr>

    <% for (var i = 0; i < Math.min(values.length, limit); i++) { %>
        <tr>
        <% for (var key in values[0]) {
            if (key == 'parse' || key == '_typeCast') { continue; } 
            var _class = '';
            var value = values[i][key];
            if (values[i][key] == null ) { _class = ' null'; }
            %>
            <td class='data<%= _class %>'><%= value %></td>
        <% } %>
        </tr>
    <% } %>
</table>

<div id='columnCounter'><a><%= values.length %> rows</a></div>