<%! parent { title: 'Result', breadcrumbs_path: path } %>

<% for (var i = 0; i < Math.min(values.length, limit); i++) { %>

<p><%= i+1 %>:</p>
<table class='light'>
    <% for (var key in values[0]) {
        if (key == 'parse' || key == '_typeCast') { continue; }

        var _class = '';
        var value = values[i][key];
        if (values[i][key] == null ) { _class = ' null'; }
        %>
        <tr>
            <th><%= key %></th>
            <td class='data<%= _class %>'><%= value %></td>
        </tr>
    <% } %>
</table>

<% } %>

<div id='columnCounter'><a><%= values.length %> rows</a></div>