<%! parent { title: "Sql details page-form" } %>

<form method="post" name="sql_details" action='/<%=values.dbid%>:sql/<%=sql_id%>'>

<table class='details'>
    <tr>
        <td>id</td>
        <td><%=values.id%></td>
    </tr>
    <tr>
        <td>name</td>
        <td><input type='text' id='sqlname' name='name' value = '<%=values.name%>'></td>
    </tr>
    <tr>
        <td>database</td>
        <td>
           <SELECT name="db">
               <OPTION VALUE=<%=values.dbid%> SELECTED><%=values.dbid%></OPTION>
               <% for(var key in databaseList) {
                   if (key != values.dbid) { %>
                       <OPTION VALUE='<%=key%>'><%=key%></OPTION>
                   <% }
               } %>
            </SELECT>
        </td>
    </tr>
</table>

<div><textarea name='sql'><%=values.sql%></textarea></div>

<%var comment = values.comment || 'comment...'%>
<div id='comment'><textarea name='comment'><%=comment%></textarea></div>

<table class='details'>
    <tr>
        <td>created:</td>
        <td><%=values.created_at%></td>
    </tr>
    <tr>
        <td>times used:</td>
        <td><%=values.used_times%></td>
    </tr>
    <tr>
        <td>last used:</td>
        <td><%=values.last_used%></td>
    </tr>
</table>

<div class='submit'>
    <input type='submit' name='run' value='Execute'>
    <input type='submit' name='run' value='Save' id='save'>
    <input type='submit' name='run' value='Remove' id='remove'>
</div>

</form>