<%! parent { title: 'History of previous SQL' } %>

<% if (values) { %>
<table class='light'>
    <tr>
        <% for (var key in values[0]) {
            if (key != 'id') { %>
                <th><%=key%></th>
            <% }
        } %>
    </tr>

    <% for (var i = 0; i < Math.min(values.length, limit); i++) { %>
    <tr>
        <% for (var key in values[0]) {
            if (key != 'id') {
                if (key == 'sql') { %>
                    <td class = 'data'>
					    <a href="/:sql/<%=values[i].id%>"><%=values[i][key] || ''%></a>
					</td>
                <% } else { %>
                    <td class = 'data'><%=values[i][key] || ''%></td>
                <% }
            }
        } %>
    </tr>
    <% } %>
</table>

<% } else {%>
    <a>History is empty</a>
<% } %>