body {
    margin: 2em;
}

table.light {
    border: 1px solid #ccc;
    border-collapse: collapse;
    min-width: 700px;
}

table.light tr th {
    border: 1px solid #ccc;
    color: #999;
    font-weight: normal;
}

table.light tr td {
    border: 1px solid #ccc;
    padding: 2ex;
}

TABLE#indexes {
    margin-left: 20px;
}

TABLE#fkeytable {
    margin-left: 20px;
}

TABLE#referenced {
    margin-left: 20px;
}

TABLE#triggerstable {
    margin-left: 20px;
}

TABLE#statusT {
    margin-left: 20px;
}

#loginform {
    margin: 20% 0 20% 0;
}

#rowsCounter {
    margin-top: 20px;
}

#index {
    margin-top: 20px;
}

#fkey {
    margin-top: 20px;
}

#ref {
    margin-top: 20px;
}

#triggers {
    margin-top: 20px;
}

#status {
    margin-top: 20px;
}

#columnCounter {
    margin-top: 20px;
}

#database {
    margin-top: 20px;
}

#groupName {
    margin-top: 20px;
    padding-bottom:10px;
}

#logout{
    margin-left: 80%;
}

.type {
    margin-top: 20px;
    padding-bottom:10px;
}

.data {
    padding: 0px 15px 0px;
}

.paddingText {
    padding: 0px 0px 0px 10px;
}

.error {
    color: DD0000;
}