<%! parent { title: 'Table ' + table } %>

<table class='light'>
    <tr>
        <% for (var key in attrList[0]) {
            if (key != 'parse' && key != '_typeCast' && key != 'is_nullable'
                 && key != 'column_default' && key != 'mlength') {%>
                <th><%= key %></th>
            <% }
            if (key == 'column_default') { %>
                <th>modifiers</th>
            <% }
        } %>
    </tr>

    <% var flag = 0; %>
    <% var firstKey = ''; %>
    <% for (var i = 0; i < attrList.length; i++) {
        var attr = attrList[i];
        %>
    <tr>
        <% for (var key in attrList[0]) {
            var val = attr[key];
            if (flag == 0) {
                firstKey = key;
                flag = 1;
            }
            if (key != 'parse' && key != '_typeCast' && key != 'is_nullable'
                && key != 'column_default' && key != 'mlength') {
                if (firstKey == key) { %>
                    <td class = 'data'><a href = <%=path%>/<%= val %>><%= val %></a></td>
                <% } else {
                    if (attr.mlength) { %>
                        <td class = 'data'><%= val %>(<%= attr.mlength %>)</td>
                    <% } else { %>
                        <td class = 'data'><%= val %></td>
                    <% }
                }
            }
            if (key == 'column_default' && attr.is_nullable == 'NO') {
                if (val) { %>
                    <td class = 'data'>not null default <%= val %></td>
                <% }
                else { %>
                    <td class = 'data'>not null</td>
                <% }
            }
            if (key == 'column_default' && attr.is_nullable != 'NO') { %>
                <td class = 'data'></td>
            <% }
        } %>
    </tr>
    <% } %>

</table>

<% if (lastStringReq) { %>
    <p><%=lastStringReq%></p>
<% } %>

<% if (indexesArr.length > 0) { %>
    <div id = 'index'><b>Indexes:</b></div>
<% } %>

<% if (dbType == 'postgres') { %>
    <table id = 'indexes'>
    <% for (var i = 0; i < indexesArr.length; i++) {
        if(indexesArr[i].indexdef != '')    {%>
        <tr>
            <td><%=indexesArr[i].indexdef%></td>
        </tr>
        <% }
    } %>
    </table>

    <% if (foreignKey.length > 0) { %>
        <div id = 'fkey'><b>Foreign-key constraints:</b></div>
    <% } %>

    <table id = 'fkeytable'>
        <% for (var i = 0; i < foreignKey.length; i++) { %>
        <tr>
            <td>"<%=foreignKey[i].conname%>" <%=foreignKey[i].condef%></td>
        </tr>
        <% } %>
    </table>

    <% if (referenced.length > 0) { %>
        <div id = 'ref'><b>Referenced by:</b></div>
    <% } %>

    <table id = 'referenced'>
        <% for (var i = 0; i < referenced.length; i++) { %>
        <tr>
            <td>
                TABLE "<%=referenced[i].conrelid %>" CONSTRAINT "<%=referenced[i].conname%>"
                <%=referenced[i].condef%>
            </td>
        </tr>
        <% } %>
    </table>

    <% if (triggers.length > 0) { %>
        <div id = 'triggers'><b>Triggers:</b></div>
    <% } %>

    <table id = 'triggerstable'>
        <% for (var i = 0; i < triggers.length; i++) {
            var trigger = triggers[i].creating.replace(/CREATE TRIGGER/g, ''); %>
            <tr>
                <td><%=trigger%></td>
            </tr>
        <% } %>
    </table>
<% } %>

<% if (dbType == 'mysql') { %>
    <table id = 'indexes'>
        <% for (var i = 0; i < indexesArr.length; i++) {%>
            <tr><td><%=indexesArr[i]%></td></tr>
        <% } %>
    </table>
<% } %>

<div id = 'status'><b>Status:</b></div>

<table id = 'statusT'>
    <% for (var key in statusArr[0]) {%>
        <% if(key != 'parse' && key != '_typeCast' && statusArr[0][key] != '' && key != 'TABLE_NAME') {%>
        <tr>
            <td><%=key%>: </td>
            <% for (var i = 0; i < statusArr.length; i++) {%>
                <td class='paddingText'><%=statusArr[i][key]%></td>
            <% } %>
        </tr>
        <% } %>
    <% } %>
</table>