<%! parent { title: 'Tables in ' + dbId } %>

<div style='float:right' id='sql-form'>

<form method="post" action="<%= path_sql %>" id="sql_request">
    <p>A name for your sql query or command?<br/>
        <input type='text' name='name'>
    </p>
    <p>Type your sql here:<br/>
        <textarea name='sql'></textarea>
    </p>
    <button type='submit'>Execute it</button>
</form>

<div id="history"><a href="/:sql" >History of previous SQL</a></div>

</div>

<% for (var i = 0; i < tableGr.length; i++) {
    var index = tablesList.join().search(tableGr[i]);
    if (/\s/.exec(tableGr[i])) { %>
        <div id = 'groupName'><b><%=tableGr[i]%></b></div>
    <% }

    else if (index != -1) { %>
        <li><a href = "<%=dbId%>/<%=tableGr[i]%>"><%=tableGr[i]%></a></li>
    <% }

    else { %>
        <li><%=tableGr[i]%></li>
    <% } %>

<% } %>

<% if (tableGr.length != 0) { %>
    <div id = 'groupName'><b>The Rest</b></div>
<% } %>

<% for (var i = 0; i < tablesList.length; i++) {
    var index = tableGr.join().search(tablesList[i]);

    if (index == -1) { %>
        <li><a href = "<%=dbId%>/<%=tablesList[i]%>"><%=tablesList[i]%></a></li>
    <% }
} %>

<% if (dbType == 'postgres') { %>
    <p><a href="/<%= dbId %>/.schema">Full schema listing</a></p>
<% } %>

