<% this.extend('parent', { title: 'Tables in ' + path }); %>

<% for (var i = 0; i < tableGr.length; i++) {
    var index = tablesList.join().search(tableGr[i]);
    if (/\s/.exec(tableGr[i])) { %>
        <div id = 'groupName'><b><%=tableGr[i]%></b></div>
    <% }

    else if (index != -1) { %>
        <li><a href = "<%=path%>/<%=tableGr[i]%>"><%=tableGr[i]%></a></li>
    <% }

    else { %>
        <li><%=tableGr[i]%></li>
    <% } %>

<% } %>

<% if (tableGr.length != 0) { %>
    <div id = 'groupName'><b>The Rest</b></div>
<% } %>

<% for (var i = 0; i < tablesList.length; i++) {
    var index = tableGr.join().search(tablesList[i]);

    if (index == -1) { %>
        <li><a href = "<%=path%>/<%=tablesList[i]%>"><%=tablesList[i]%></a></li>
    <% }
} %>